body {
	font-family: 'PT Mono', monospace;
	font-size: 38px;
	color: #FFFFFF;
	overflow: hidden;
	position: relative;

}

.controls {
	position: absolute;
	align-items: center;
	width: 100%;
	bottom: 0px;
	margin-bottom: 50px;
}

.controls > div {
	display: flex;
	justify-content: center;
}

.sound-button {
	display: inline-block;
	/* min-height: 15px; */
	padding: 7px;
	margin: 5px 10px;
	cursor: pointer;
}

.active {
	color: #30486A;
}