:root {
  --navy-blue: #30486A;
}

body {
	font-family: 'PT Mono', monospace;
	font-size: 38px;
	color: #FFFFFF;
	overflow: hidden;
	position: relative;
}
h3{
	font-size: 20px;
	text-align: center;
}
/**/
.container-nav{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
nav#main-nav{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	float: none;
	background-color: rgba(105, 105, 105, 0.5);
	/*z-index: 9;*/
	opacity: 0;
	transition: all 1.4s;


}


.menu-opened nav#main-nav{
	opacity: 1;
	z-index: 11;
	/*display: block;*/

	transition-delay: 3s;
}

.menu-opened-zoomed nav#main-nav{
	opacity: 1;
	z-index: 11;
	transition-delay: 0s;
}

.open-menu{
	position: fixed;
	top: 3%;
	right: 3%;
	width: 35px;
	height: 35px;
	display: block;
	text-decoration: none;
	z-index: 12;
	cursor: pointer;
}

.open-menu span{
	display: block;
	background-color: #f9f9f9;
	height: 3px;
	transition: all .3s;
}

.open-menu span + span{
	margin-top:6px;
}

.menu-opened .open-menu span:nth-child(1),
.menu-opened-zoomed .open-menu span:nth-child(1),
.close span:nth-child(1)
{
	transform:rotate(45deg);
	margin: 9px 0 0; 
}

.menu-opened .open-menu span:nth-child(2),
.menu-opened-zoomed .open-menu span:nth-child(2),
.close span:nth-child(2)
{
	opacity: 0;
}

.menu-opened .open-menu span:nth-child(3),
.menu-opened-zoomed .open-menu span:nth-child(3),
.close span:nth-child(3)
{
	transform: rotate(-45deg);
	margin:-12px 0 0;
}

.fader {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
}

.hidden {
    opacity: 0; 
    transition: opacity 1s ease;
}

.triangle1{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 0 50px 200px;
	border-color: transparent transparent transparent #30486A;
	transform: rotate(20deg);
	position: absolute;
	bottom: 15%;
	left: 20%;
}
.triangle2{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 200px 50px 0;
	border-color: transparent #30486A transparent transparent;
	transform: rotate(-50deg);
	position: absolute;
	bottom: 20%;
	right: 10%;
}
.triangle3{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 200px 50px 0;
	border-color: transparent #30486A transparent transparent;
	transform: rotate(-50deg);
	position: absolute;
	top: 10%;
	right: 35%;
}
.circle{
	width: 125px;
	height: 125px;
	background: #30486A;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 35%;
}
.texti h3{
	font-size: 20px;
	text-align: center;
}
.texti{
	width: 150px;
	position: absolute;
}
.texti1{
	transform: rotate(-20deg);
	top: -45px;
	right:65px;
}
.texti2{
	transform: rotate(50deg);
	top: -20px;
	left: 60px;
}
.texti3{
	transform: rotate(50deg);
	top: -45px;
	left: 55px;
}
.texti4{
	top: 20px;
}

.controls {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	bottom: 0px;
	margin-bottom: 30px;
	font-size: 28px;
}

#pause-play {
	margin-left: 15px;
	cursor: pointer;
}

/*#pause-play .fa-pause {
	color: var(--navy-blue);
}

#pause-play.active .fa-play {
	color: var(--navy-blue);
}*/

.letters > div {
	display: flex;
	justify-content: center;
}

.sound-button {
	display: inline-block;
	/* min-height: 15px; */
	padding: 7px;
	margin: 5px 10px;
	cursor: pointer;
}

.active {
	color: #30486A;
}

.form-container{
	display: flex;
	position: absolute;
	right: 4%;
	top: 18%;
}
.form{
	display: flex;
	flex-direction: column;
	width: 231px;
	
}

.form label {
	font-size: 18px;
	font-weight: 100;
	display: block;
	margin-bottom: 10px;
}

.form h2 {
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 20px;
	line-height: 30px;	
}

.form select, .form input {
	margin-bottom: 15px;
	max-width: 228px;
	height: 33px;
	background-color: white;
	color: black;
	border: none;
	font-family: 'PT Mono', monospace;
	border-radius: 0px;
	font-weight: 100;
	font-size: 15px;
	padding-left: 5px;
}

.form button {
	width: 120px;
	height: 36px;
	font-family: 'PT Mono', monospace;
	color: white; 	
	background-color: #30486A;
	font-size: 18px;
	font-weight: 100;
	border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.23);
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.box {
	width: 100%;
	height: 200px;
	background-color: #30486A;
	position: absolute;
	bottom: 0px;
	margin: 0 auto;
	background: linear-gradient(to bottom, rgba(49,72,106,0), rgba(49,72,106,1));

}

.fa.fa-circle {
	cursor: pointer;
}

.fa.fa-circle.red {
	color: #C74647;
}

.stjerne-skum {
	position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
}
@keyframes bounce-moon {
  0%       { top:-341px; }
  25%	   { top:-0px; }
  50%      { top:-100px; }
  100%     { top: -0px; }
}

.moon {
	position: absolute;
    z-index: 11;
    top: 0px;
    left: 120px;
    animation: bounce-moon 5s 1 forwards;
}

@keyframes bounce-1 {
  0%       { top:-341px; }
  25%	   { top:-110px; }
  50%      { top:-180px; }
  100%     { top: -110px; }
}

#star-1 {
	top: -341px;
	left: 10px;
	width: 88px;
	animation: bounce-1 5s 1 forwards;
}

@keyframes bounce-2 {
  0%       { top:-341px; }
  25%	   { top:-20px; }
  50%      { top:-100px; }
  100%     { top: -20px; }
}

#star-2 {
	top: -341px;
	left: 60px;
	width: 128px;
	animation: bounce-2 5s 1 forwards;
}

@keyframes bounce-3 {
  0%       { top:-341px; }
  25%	   { top:-88px; }
  50%      { top:-100px; }
  100%     { top: -88px; }
}

#star-3 {
	top: -341px;
    left: 235px;
    width: 60px;
    animation: bounce-3 5s 1 forwards;
}

@keyframes bounce-4 {
  0%       { top:-341px; }
  25%	   { top:-150px; }
  50%      { top:-200px; }
  100%     { top: -150px; }
}

#star-4 {
	top: -341px;
	left: 305px;
	width: 128px;
	animation: bounce-4 5s 1 forwards;
}

@keyframes bounce-5 {
  0%       { top:-341px; }
  25%	   { top:-47px; }
  50%      { top:-100px; }
  100%     { top: -47px; }
}

#star-5 {
	top: -341px;
	left: 370px;
	width: 90px;
	animation: bounce-5 5s 1 forwards;
}

#star-6 {
	top: -110px;
	left: 810px;
	width: 128px;
}

#star-7 {
	top: -79px;
    left: 925px;
    width: 67px;
}

#star-8 {
	top: 0px;
	left: 950px;
	width: 128px;
}

#star-9 {
	top: -150px;
	left: 1050px;
	width: 128px;
}

#star-10 {
	top: -50px;
	left: 1170px;
	width: 128px;
}